@use './general.scss';

/***********************/
/*        FOOTER       */
/***********************/

footer {
    background-color: general.$color-dark-black; // Couleur de fond sombre pour le footer
    color: general.$color-white; // Couleur de base des textes
    padding: 10px 0; // Padding vertical pour le footer

    .container {
        display: flex;
        align-items: center;
        justify-content: center; // Centrer les éléments horizontalement
        flex-wrap: nowrap; // Gardez tous les éléments SVG sur une seule ligne

        svg {
            width: 50px; // Taille réduite pour les SVG
            height: auto;
            fill: general.$color-white; // Couleur des icônes SVG
            margin: 0 5px; // Espacement réduit entre les SVG

            &:hover {
                fill: general.$color-light-blue; // Changement de couleur au survol
            }
        }
    }
}
