@use './general.scss';

.container-game-page {
  display: flex;
  .game-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: auto;
    gap: 20px;
    justify-content: center;

    .main-img {
      position: relative;
      width: 80%;
      height: 500px;

      img,
      video {
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 10px;
      }

      .carousel-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
        border: none;
        cursor: pointer;
        padding: 10px;
        z-index: 1;

        &:hover {
          background-color: rgba(0, 0, 0, 0.7);
        }
      }

      .previous {
        left: 20px;
      }

      .next {
        right: 20px;
      }
    }
  }

  .game-info-important {
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 30%;

    .game-info-important-content {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .list-container {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .game-genres {
          display: flex;
          flex-direction: row;
          gap: 10px;
        }
      }

      .information-content {
        text-align: right;

        .game-stores {
          display: flex;
          margin: 10px 0;
          justify-content: center;
          flex-wrap: wrap;
          row-gap: 20px;

          li {
            margin: 0 5px;
          }
        }

        .game-platform {
          display: flex;
          flex-direction: row;
          gap: 5px;
          justify-content: center;

          svg {
            width: 25px;
            height: auto;
          }
        }

        .a-website {
          color: general.$color-white;
        }

        .a-website:hover {
          color: general.$color-light-blue;
        }
      }
    }

    .small-infos {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .game-metacritics {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 10px;
      justify-content: center;

      .game-metacritics-info {
        display: flex;
        gap: 5px;

        p {
          font-size: 1rem;
        }
      }
    }

    .aButton {
      color: general.$color-white;
      font-size: 14px;
      font-weight: 600;
      background-color: general.$color-dark-blue;
      border-radius: 5%;
      padding: 5px;
    }

    .aButton:hover {
      background-color: darken($color: general.$color-dark-blue, $amount: 10%);
    }
  }
}

.container-game-page-description {
  display: flex;

  h2 {
    margin-bottom: 15px;
  }

  .game-description {
    width: 70%;
    margin: 20px;
  }

  .game-info-others {
    width: 30%;
    margin: 20px;

    .game-tags {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 10px;

      li {
        padding: 5px;
        color: general.$color-light-blue;
        font-size: 14px;
        font-weight: 600;
        background-color: general.$color-dark-blue;
        border-radius: 5%;
        padding: 5px;
      }
    }
  }
}
