.select-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  
    label {
      margin-right: 10px;
      font-weight: bold;
      color: #007bff; /* Bleu plus moderne */
      font-size: 16px;
    }
  
    select {
      padding: 12px;
      border-radius: 8px;
      border: 2px solid #007bff; /* Bordure plus contrastée */
      background-color: #f0f8ff;
      color: #007bff; /* Texte bleu moderne */
      font-size: 14px;
      cursor: pointer;
      transition: all 0.3s ease; /* Transition plus fluide */
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Légère ombre pour donner de la profondeur */
  
      &:focus {
        outline: none;
        border-color: #0056b3; /* Couleur bordure en focus */
        background-color: #ffffff; /* Couleur de fond en focus */
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Ombre plus prononcée lors du focus */
      }
  
      &:hover {
        border-color: #0056b3; /* Couleur bordure en hover */
        background-color: #e7f1ff; /* Fond légèrement différent en hover */
      }
  
      option {
        color: #007bff; /* Texte des options */
      }
    }
  }
  