@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  list-style: none;
}

html {
  overflow-x: hidden;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  width: 100%;
  font-size: 16px;
  color: #ccc;
}

html {
  background: #2a2a2a;
}

.container {
  width: 90%;
  margin: 20px auto;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.container-article {
  background: -webkit-gradient(linear, left bottom, left top, from(rgb(34, 34, 34)), color-stop(50%, rgb(1, 29, 60)), color-stop(100%, rgb(0, 56, 116)), color-stop(222%, rgb(34, 34, 34)), color-stop(222%, rgb(2, 0, 36)), color-stop(333%, rgb(9, 9, 121)));
  background: linear-gradient(0deg, rgb(34, 34, 34) 0%, rgb(1, 29, 60) 50%, rgb(0, 56, 116) 100%, rgb(34, 34, 34) 222%, rgb(2, 0, 36) 222%, rgb(9, 9, 121) 333%);
  border-radius: 60px;
  padding: 20px 0;
}

h1 {
  font-size: 3.5em;
  font-weight: bold;
  text-align: center;
  margin: 30px 0;
}

h2 {
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  margin: 30px 0;
}

h3 {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

h4 {
  font-size: 1.5rem;
  text-transform: uppercase;
  line-height: 2rem;
  color: #ccc;
  margin: 10px 0;
}

article:hover h4 {
  color: #007BFF;
  cursor: pointer;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

h5 {
  font-variant: small-caps;
  font-size: 1.2rem;
}

p {
  line-height: 0.7rem;
  font-family: "Roboto", sans-serif;
  color: #ccc;
  line-height: 1.4rem;
  letter-spacing: 0.1rem;
}

button {
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 700;
  color: #ccc;
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px 10px 10px; /* Espacement horizontal entre les boutons et ajout de l'espace en bas */
}
button:hover {
  background-color: #0062cc;
}

/***********************/
/*        HEADER       */
/***********************/
header {
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(51, 51, 51)), color-stop(100%, rgb(34, 34, 34)), color-stop(222%, rgb(34, 34, 34)), color-stop(222%, rgb(2, 0, 36)), color-stop(333%, rgb(9, 9, 121)));
  background: linear-gradient(180deg, rgb(51, 51, 51) 0%, rgb(34, 34, 34) 100%, rgb(34, 34, 34) 222%, rgb(2, 0, 36) 222%, rgb(9, 9, 121) 333%);
  color: #ccc;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
}
header .container .logo {
  width: 100px;
  height: auto;
  -webkit-filter: brightness(0) invert(1) contrast(0.5);
          filter: brightness(0) invert(1) contrast(0.5);
}
header .search-bar {
  background-color: #333;
  padding: 10px;
  position: relative;
  border-radius: 5px;
  justify-self: center;
}
header .search-bar input[type=text] {
  width: 100%;
  padding: 8px 15px;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 22px;
  color: #ccc;
  background-color: #222;
  border: 1px solid #555;
  border-radius: 4px;
}
header .search-bar input[type=text]::-webkit-input-placeholder {
  color: #666;
}
header .search-bar input[type=text]::-moz-placeholder {
  color: #666;
}
header .search-bar input[type=text]:-ms-input-placeholder {
  color: #666;
}
header .search-bar input[type=text]::-ms-input-placeholder {
  color: #666;
}
header .search-bar input[type=text]::placeholder {
  color: #666;
}
header .search-bar input[type=text]:focus {
  outline: none;
  border-color: #007BFF;
  -webkit-box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
          box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
}
header nav {
  justify-self: right;
}
header nav ul {
  list-style: none;
}
header nav ul li {
  display: inline-block;
}
header nav ul li a {
  text-decoration: none;
  color: #ccc;
  padding: 8px 15px;
  border-radius: 4px;
  font-size: 1.4rem;
}
header nav ul li a:hover, header nav ul li a:focus {
  background-color: #555;
  outline: none;
}
header nav ul li a:active {
  background-color: #666;
}
header .search-results {
  list-style-type: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin-top: 0px;
  background-color: #333;
  border-radius: 0 0 5px 5px;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 5;
  overflow: hidden;
}
header .search-results li {
  padding: 10px;
  border-top: 1px solid #444;
  color: #ccc;
}
header .search-results li:hover, header .search-results li:focus {
  background-color: #2a2a2a;
}
header .search-results li:first-child {
  border-top: none;
}

/***********************/
/*        FOOTER       */
/***********************/
footer {
  background-color: #222;
  color: #ccc;
  padding: 10px 0;
}
footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
footer .container svg {
  width: 50px;
  height: auto;
  fill: #ccc;
  margin: 0 5px;
}
footer .container svg:hover {
  fill: #007BFF;
}

.container-all-games-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 2%;
     -moz-column-gap: 2%;
          column-gap: 2%;
  row-gap: 30px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.container-all-games-page .container-article {
  width: 20%;
  border-radius: 15px;
  padding: 0;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.container-all-games-page .container-article:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.container-all-games-page .container-article .game-card {
  padding: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 15px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.container-all-games-page .container-article .game-card p:before {
  content: "•";
  margin-right: 8px;
  color: rgba(0, 123, 255, 0.5);
}
.container-all-games-page .container-article .game-card p {
  margin-bottom: 15px;
}
.container-all-games-page .container-article .game-card .game-img {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}
.container-all-games-page .container-article .game-card .game-img img,
.container-all-games-page .container-article .game-card .game-img video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.container-all-games-page .container-article .game-card .game-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 95%;
  margin: 15px auto;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.container-all-games-page .container-article .game-card .game-info .game-name-numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.container-all-games-page .container-article .game-card .game-info .game-name-numbers .game-rating-released {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
.container-all-games-page .container-article .game-card .game-info .game-platform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #ccc;
}
.container-all-games-page .container-article .game-card .game-info .game-platform li svg {
  width: 20px;
  height: auto;
}

/*********************************/
/*  POPULAR GAMES AND NEW GAMES  */
/*********************************/
.game_popular {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 10px;
  height: 100%;
  width: 90%;
  margin: auto;
}
.game_popular a {
  width: 100%;
  height: auto;
  margin: 20px 0;
}
.game_popular img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}
.game_popular .metacritic-score {
  padding: 8px 20px;
  background-color: #ffcc00;
  color: #000;
  font-weight: bold;
  border-radius: 5px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.game_popular .navigation-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: 10px;
}

.container-game-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.container-game-page .game-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  height: auto;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.container-game-page .game-images .main-img {
  position: relative;
  width: 80%;
  height: 500px;
}
.container-game-page .game-images .main-img img,
.container-game-page .game-images .main-img video {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 10px;
}
.container-game-page .game-images .main-img .carousel-button {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 1;
}
.container-game-page .game-images .main-img .carousel-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
.container-game-page .game-images .main-img .previous {
  left: 20px;
}
.container-game-page .game-images .main-img .next {
  right: 20px;
}
.container-game-page .game-info-important {
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  width: 30%;
}
.container-game-page .game-info-important .game-info-important-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.container-game-page .game-info-important .game-info-important-content .list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.container-game-page .game-info-important .game-info-important-content .list-container .game-genres {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
}
.container-game-page .game-info-important .game-info-important-content .information-content {
  text-align: right;
}
.container-game-page .game-info-important .game-info-important-content .information-content .game-stores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 20px;
}
.container-game-page .game-info-important .game-info-important-content .information-content .game-stores li {
  margin: 0 5px;
}
.container-game-page .game-info-important .game-info-important-content .information-content .game-platform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.container-game-page .game-info-important .game-info-important-content .information-content .game-platform svg {
  width: 25px;
  height: auto;
}
.container-game-page .game-info-important .game-info-important-content .information-content .a-website {
  color: #ccc;
}
.container-game-page .game-info-important .game-info-important-content .information-content .a-website:hover {
  color: #007BFF;
}
.container-game-page .game-info-important .small-infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container-game-page .game-info-important .game-metacritics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.container-game-page .game-info-important .game-metacritics .game-metacritics-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}
.container-game-page .game-info-important .game-metacritics .game-metacritics-info p {
  font-size: 1rem;
}
.container-game-page .game-info-important .aButton {
  color: #ccc;
  font-size: 14px;
  font-weight: 600;
  background-color: rgba(0, 123, 255, 0.5);
  border-radius: 5%;
  padding: 5px;
}
.container-game-page .game-info-important .aButton:hover {
  background-color: rgba(0, 98, 204, 0.5);
}

.container-game-page-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.container-game-page-description h2 {
  margin-bottom: 15px;
}
.container-game-page-description .game-description {
  width: 70%;
  margin: 20px;
}
.container-game-page-description .game-info-others {
  width: 30%;
  margin: 20px;
}
.container-game-page-description .game-info-others .game-tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}
.container-game-page-description .game-info-others .game-tags li {
  padding: 5px;
  color: #007BFF;
  font-size: 14px;
  font-weight: 600;
  background-color: rgba(0, 123, 255, 0.5);
  border-radius: 5%;
  padding: 5px;
}

.new-all-games {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 5%;
}
.new-all-games .container {
  margin: 0;
}
.new-all-games .container .browse-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
  margin: 20px auto 10px auto;
  gap: 15px;
}
.new-all-games .container .browse-container .browse-game-card {
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #ccc;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.new-all-games .container .browse-container .browse-game-card .browse-game-info {
  width: 70%;
}
.new-all-games .container .browse-container .browse-game-card .browse-game-img {
  width: 30%;
}
.new-all-games .container .browse-container .browse-game-card .browse-game-img img {
  width: 100%;
  height: auto;
}
.new-all-games .container .browse-container button {
  margin: 10px;
}
.new-all-games .container-article {
  padding: 20px 25px;
}
.new-all-games .container-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.filter {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left !important;
      -ms-flex-pack: left !important;
          justify-content: left !important;
  gap: 15px;
  font-family: "Roboto", sans-serif;
}
.filter label {
  font-size: 1rem;
}
.filter .filter-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.filter .filter-container select {
  background-color: #222;
  color: #ccc;
  font-size: 1rem;
  gap: 5px;
  border-radius: 5px;
  padding: 5px;
}

.select-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
  gap: 10px;
}
.select-container label {
  margin-right: 10px;
  font-weight: bold;
  color: #e0e0e0;
  font-size: 14px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.select-container select {
  padding: 10px 14px;
  border-radius: 6px;
  border: 1px solid #4f4f4f;
  background-color: #212121;
  color: #e0e0e0;
  font-size: 14px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.select-container select:focus {
  outline: none;
  border-color: #757575;
  background-color: #333333;
}
.select-container select:focus .select-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
  gap: 10px;
  font-family: "Arial", sans-serif;
}
.select-container select:focus .select-container label {
  margin-right: 10px;
  font-weight: bold;
  color: #e0e0e0;
  font-size: 14px;
}
.select-container select:focus .select-container select {
  padding: 10px 14px;
  border-radius: 6px;
  border: 1px solid #4f4f4f;
  background-color: #212121;
  color: #e0e0e0;
  font-size: 14px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: inherit;
}
.select-container select:focus .select-container select:focus {
  outline: none;
  border-color: #757575;
  background-color: #333333;
}
.select-container select:focus .select-container select:hover {
  border-color: #757575;
}
.select-container select:focus .select-container select option {
  color: #e0e0e0;
  background-color: #212121;
  font-family: inherit;
}
.select-container select:hover {
  border-color: #757575;
}
.select-container select option {
  color: #e0e0e0;
  background-color: #212121;
}/*# sourceMappingURL=style.css.map */